<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" 
  executionOrder="depends,defects" 
  displayDetailsOnTestsThatTriggerDeprecations="true" 
  displayDetailsOnTestsThatTriggerWarnings="true" 
  displayDetailsOnTestsThatTriggerErrors="true" 
  cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="default">
      <directory>tests/LongitudeOne/Core/Tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
  </source>
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile=".phpunit.cache/clover.xml"/>
      <html outputDirectory=".phpunit.cache/coverage-html"/>
      <text outputFile=".phpunit.cache/coverage-results.txt" showOnlySummary="true"/>
    </report>
  </coverage>
</phpunit>